<<<<<<< HEAD
﻿

<!DOCTYPE html>
    <html>
    <head>
        
    </head>
    <body>
        <h1>Product Details</h1>

    <p><strong>Name:</strong>@Model.Name</p>
    <p><strong>Price:</strong> @Model.Price</p>
    <p><strong>Description:</strong> @Model.Decription</p>
    
    </body>
=======
﻿

<!DOCTYPE html>
    <html>
    <head>
        
    </head>
    <body>
        <h1>Product Details</h1>

    <p><strong>Name:</strong>@Model.Name</p>
    <p><strong>Price:</strong> @Model.Price</p>
    <p><strong>Description:</strong> @Model.Decription</p>
    
    </body>
>>>>>>> eee0ccd (first commit22)
    </html>